/* Page Background Color */
body {background-color: #fcf4e4;}

/* Link Colors */
a:link { color: #5094e2}

a:visited { color: #17b890}

a:hover { color: #284977}

a:active { color: #091c35}

#floating { 
    float: left; 
    margin: 1em;
}